@model TicketManagement4.Models.EmployeeModel

@{
    ViewBag.Title = "TicketCreated2";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>TicketCreated2</h2>


<p>
    @Html.ActionLink("Back to List", "Employee", "Index", new { Model.EmployeeId })
</p>