@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Ticket Managment App</h1>
    <p class="lead">Login using the menu</p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Login &raquo;</a></p>-->
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Ticket Managment App</h2>
        <p>
            Login using the menu
        </p>
    </div>


</div>-->